.wrapper {
    background-color: rgb(67, 69, 82);
    width: 375px;
    height: 812px;
    margin: auto;
}
.signal {
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 270px;
    padding-top: 5px;
}
.element {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.text {
    font-family: 'Arial';
    color: rgb(157, 157, 168);
    text-align: center;
}
.line {
    line-height: 25px;
}
.white {
    color: white;
}
.green {
    color: rgb(0, 210, 100);
}
.size_14 {
    font-size: 14px;
}
.size_16 {
    font-size: 16px;
}
.size_20 {
    font-size: 20px;
}
.size_30 {
    font-size: 30px;
}
.stroka {
    display: flex;
    justify-content: center;
}
.padding_top_15 {
    padding-top: 15px;
}
.blok {
    background-color: rgba(118, 118, 125, 0.2);
    width: 345px;
    height: 145px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin_top_15 {
    margin-top:  15px;
}
.logo {
    width: 325px;
    height: 55px;
    display: flex;
    align-items: center;
}
.price {
    background-color: yellow;
    width: 325px;
    height: 55px;
}
.blok_price {
    position: relative;
    margin: auto;
}
.logo_icon {
    width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_text {
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin-left: 10px;
}
.logo_price {
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-end;
}
.margin-left_175 {
    margin-left: 175px;
}
.margin-left_230 {
    margin-left: 230px;
}
.red {
    color: rgb(237, 81, 87);
}
.margin_top_line {
    margin-top: 105px;
}